{{ define "main" }}
<head>
    <meta charset="UTF-8"/>
    <title>Formspark | HTML with Botpoison</title>
    <script src="https://unpkg.com/@botpoison/browser" async></script>
</head>
<body>
<div class="flex-l mt2 mw8 center">
    <article class="max-w-full prose dark:prose-invert">
        <h1>Kontaktformular: {{ .Title }}</h1>

        <div class="flex px-4 py-3 mb-10 rounded-md bg-primary-100 dark:bg-primary-900">
            Mit folgendem Formular kannst du eine Nachricht an das Ressort '{{ .Title }}' versenden.
        </div>
        {{ if .Content }}
        <div class="flex px-4 py-3 mb-10 rounded-md bg-primary-100 dark:bg-primary-900">
            {{ .Content }}
        </div>
        {{ end }}

        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" accept-charset="UTF-8"
              action="{{ .Params.Action }}"
              data-botpoison-public-key='pk_60c8f808-cbb8-47e8-974b-b89273dcf2f5' method="POST">
            <div class="mb-6">
                <label for="name" class="block text-sm font-bold mb-2">Mein Name</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-neutral-800 dark:text-neutral-800 leading-tight focus:outline-none focus:shadow-outline"
                       type="text" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="mb-6">
                <label for="email" class="block text-sm font-bold mb-2">Meine E-Mail</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-neutral-800 dark:text-neutral-800 leading-tight focus:outline-none focus:shadow-outline"
                       type="email" id="email" name="email" placeholder="E-Mail" required>
            </div>
            <div class="mb-6">
                <label for="message" class="block text-sm font-bold mb-2">Meine Nachricht</label>
                <textarea
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-neutral-800 dark:text-neutral-800 leading-tight focus:outline-none focus:shadow-outline"
                        id="message" name="message" placeholder="Nachricht" required></textarea>
            </div>
            <div class="flex items-center justify-between">
                <button class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
                        type="submit">Absenden
                </button>
            </div>
        </form>
    </article>
</div>
</body>
{{ end }}
